* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 850px;
  margin: 30px auto;
  color: #444;
  font-size: 18px;
  font-family: sans-serif;
  line-height: 1.4;
}

article {
  border: 5px solid #000000;
  /* background-color: red; */
}

.Product-Picture {
  width: 200px;
  float: left;
  margin: 15px;
  /* text-align: center; */
  /* height: 300px; */
  /* border: 3px solid black; */
}

.Layout-2 {
  width: 250px;
  margin-top: 20px;
  margin-left: 15px;
  float: left;
  /* border: 3px solid black; */
}

.Layout-3 {
  width: 280px;
  float: left;
  margin-left: 60px;
  margin-top: 20px;
  /* border: 3px solid black; */
}

.Content {
  width: 300px;
  margin-left: 10px;
  margin-bottom: 10px;
}

ul {
  margin-left: 40px;
  margin-top: 5px;
}

h2 {
  color: black;
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
  background-color: #f0f0f0;
  text-align: center;
  padding: 8px;
  position: relative;
}

h2::after {
  content: "SALE";
  font-weight: bold;
  color: white;
  font-size: 12px;
  background-color: red;
  padding: 7px 15px;
  display: inline-block;
  position: absolute;
  top: -18px;
  left: -37px;
  letter-spacing: 0.2rem;
}

.Price {
  color: black;
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
  width: 100px;
  display: inline-block;
  margin-bottom: 15px;
  /* text-align: center; */
  /* margin-top: -10px; */
}

.Shipping {
  text-transform: uppercase;
  font-size: 12px;
  width: 100px;
  font-weight: bold;
  float: right;
  margin-top: 8px;
  margin-right: -45px;
  color: rgb(133, 133, 133);
  /* margin-bottom: px; */
  /* text-align: center; */
  /* margin-top: -25px; */
}

.Colors {
  display: inline-block;
  width: 22px;
  height: 22px;
  color: white;
  margin: 20px 7px;
  /* margin-left: 15px; */
}

#Black {
  background-color: #000000;
}

#Blue {
  background-color: blue;
}

#Red {
  background-color: red;
}

#Yellow {
  background-color: rgba(255, 208, 0, 0.671);
}

#Green {
  background-color: green;
}

#Brown {
  background-color: brown;
}

h3 {
  font-size: 18px;
  text-transform: uppercase;
  margin-left: 20px;
  margin-bottom: 15px;
}

li {
  list-style: square;
  margin-bottom: 5px;
}

a:link,
a:visited {
  text-decoration: underline;
  font-size: 16px;
  color: #444;
  text-transform: capitalize;
}

a:hover,
a:active {
  text-decoration: none;
}

button {
  background-color: #000000;
  border: none;
  padding: 10px 0;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  /* margin: 30px auto; */
  /* margin-bottom: 0; */
}

button:hover {
  background-color: white;
  border: white;
  color: #444;
  border-top: 3px solid #000000;
}
